AI Forge Web App/Connected Services/ServiceReference/AI_Forge_service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AI_Forge_Service" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AI_Forge_Service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="Invoices" nillable="true" type="tns:ArrayOfInvoice" />
      <xs:element minOccurs="0" name="User_Active" type="xs:int" />
      <xs:element minOccurs="0" name="User_Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User_Contact" type="xs:decimal" />
      <xs:element minOccurs="0" name="User_DOB" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="User_Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User_Gender" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User_Id" type="xs:int" />
      <xs:element minOccurs="0" name="User_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User_Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User_Surname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User_Type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User_UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="ArrayOfInvoice">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Invoice" nillable="true" type="tns:Invoice" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfInvoice" nillable="true" type="tns:ArrayOfInvoice" />
  <xs:complexType name="Invoice">
    <xs:sequence>
      <xs:element minOccurs="0" name="InvoiceL_Id" type="xs:int" />
      <xs:element minOccurs="0" name="Invoice_Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Invoice_Id" type="xs:int" />
      <xs:element minOccurs="0" name="Invoice_Line" nillable="true" type="tns:Invoice_Line" />
      <xs:element minOccurs="0" name="User" nillable="true" type="tns:User" />
      <xs:element minOccurs="0" name="User_Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Invoice" nillable="true" type="tns:Invoice" />
  <xs:complexType name="Invoice_Line">
    <xs:sequence>
      <xs:element minOccurs="0" name="InvoiceL_Id" type="xs:int" />
      <xs:element minOccurs="0" name="InvoiceL_Price" type="xs:decimal" />
      <xs:element minOccurs="0" name="InvoiceL_Quantity" type="xs:int" />
      <xs:element minOccurs="0" name="InvoiceL_Tax" type="xs:decimal" />
      <xs:element minOccurs="0" name="Invoices" nillable="true" type="tns:ArrayOfInvoice" />
      <xs:element minOccurs="0" name="Product" nillable="true" type="tns:Product" />
      <xs:element minOccurs="0" name="Product_Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Invoice_Line" nillable="true" type="tns:Invoice_Line" />
  <xs:complexType name="Product">
    <xs:sequence>
      <xs:element minOccurs="0" name="Invoice_Lines" nillable="true" type="tns:ArrayOfInvoice_Line" />
      <xs:element minOccurs="0" name="Product_Category" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Product_Deleted" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Product_Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Product_Dimensions" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Product_Id" type="xs:int" />
      <xs:element minOccurs="0" name="Product_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Product_Price" type="xs:decimal" />
      <xs:element minOccurs="0" name="Product_Quantity" type="xs:int" />
      <xs:element minOccurs="0" name="Product_Sale" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Product_SaleDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Product_SalePrice" nillable="true" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Product" nillable="true" type="tns:Product" />
  <xs:complexType name="ArrayOfInvoice_Line">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Invoice_Line" nillable="true" type="tns:Invoice_Line" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfInvoice_Line" nillable="true" type="tns:ArrayOfInvoice_Line" />
  <xs:complexType name="ArrayOfProduct">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Product" nillable="true" type="tns:Product" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProduct" nillable="true" type="tns:ArrayOfProduct" />
  <xs:complexType name="ArrayOfItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Item" nillable="true" type="tns:Item" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfItem" nillable="true" type="tns:ArrayOfItem" />
  <xs:complexType name="Item">
    <xs:sequence>
      <xs:element minOccurs="0" name="ITM_Active" type="xs:boolean" />
      <xs:element minOccurs="0" name="ITM_Category" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ITM_Depth" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="ITM_Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ITM_Height" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="ITM_ID" type="xs:int" />
      <xs:element minOccurs="0" name="ITM_Image_Path" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ITM_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ITM_Price" type="xs:decimal" />
      <xs:element minOccurs="0" name="ITM_Width" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="SLE_ID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Sale" nillable="true" type="tns:Sale" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Item" nillable="true" type="tns:Item" />
  <xs:complexType name="Sale">
    <xs:sequence>
      <xs:element minOccurs="0" name="Items" nillable="true" type="tns:ArrayOfItem" />
      <xs:element minOccurs="0" name="SLE_ID" type="xs:int" />
      <xs:element minOccurs="0" name="SLE_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SLE_Value" type="xs:unsignedByte" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Sale" nillable="true" type="tns:Sale" />
</xs:schema>