AI Forge Web App/Connected Services/ServiceReference/AI_Forge_service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AI_Forge_Service" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AI_Forge_Service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="Invoices" nillable="true" type="tns:ArrayOfInvoice" />
      <xs:element minOccurs="0" name="ProductT_ID" type="xs:int" />
      <xs:element minOccurs="0" name="Product_Type" nillable="true" type="tns:Product_Type" />
      <xs:element minOccurs="0" name="User_Active" type="xs:int" />
      <xs:element minOccurs="0" name="User_Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User_Contact" type="xs:decimal" />
      <xs:element minOccurs="0" name="User_DOB" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="User_Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User_Gender" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User_Id" type="xs:int" />
      <xs:element minOccurs="0" name="User_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User_Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User_Surname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User_Type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User_UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="ArrayOfInvoice">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Invoice" nillable="true" type="tns:Invoice" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfInvoice" nillable="true" type="tns:ArrayOfInvoice" />
  <xs:complexType name="Invoice">
    <xs:sequence>
      <xs:element minOccurs="0" name="InvoiceL_Id" type="xs:int" />
      <xs:element minOccurs="0" name="Invoice_Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Invoice_Id" type="xs:int" />
      <xs:element minOccurs="0" name="Invoice_Line" nillable="true" type="tns:Invoice_Line" />
      <xs:element minOccurs="0" name="User" nillable="true" type="tns:User" />
      <xs:element minOccurs="0" name="User_Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Invoice" nillable="true" type="tns:Invoice" />
  <xs:complexType name="Invoice_Line">
    <xs:sequence>
      <xs:element minOccurs="0" name="InvoiceL_Id" type="xs:int" />
      <xs:element minOccurs="0" name="InvoiceL_Price" type="xs:decimal" />
      <xs:element minOccurs="0" name="InvoiceL_Quantity" type="xs:int" />
      <xs:element minOccurs="0" name="InvoiceL_Tax" type="xs:decimal" />
      <xs:element minOccurs="0" name="Invoices" nillable="true" type="tns:ArrayOfInvoice" />
      <xs:element minOccurs="0" name="Product" nillable="true" type="tns:Product" />
      <xs:element minOccurs="0" name="Product_Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Invoice_Line" nillable="true" type="tns:Invoice_Line" />
  <xs:complexType name="Product">
    <xs:sequence>
      <xs:element minOccurs="0" name="Invoice_Lines" nillable="true" type="tns:ArrayOfInvoice_Line" />
      <xs:element minOccurs="0" name="ProductT_ID" type="xs:int" />
      <xs:element minOccurs="0" name="Product_Category" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Product_Deleted" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Product_Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Product_Dimensions" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Product_Id" type="xs:int" />
      <xs:element minOccurs="0" name="Product_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Product_Price" type="xs:decimal" />
      <xs:element minOccurs="0" name="Product_Quantity" type="xs:int" />
      <xs:element minOccurs="0" name="Product_Sale" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Product_SaleDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Product_SalePrice" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Product_Type" nillable="true" type="tns:Product_Type" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Product" nillable="true" type="tns:Product" />
  <xs:complexType name="ArrayOfInvoice_Line">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Invoice_Line" nillable="true" type="tns:Invoice_Line" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfInvoice_Line" nillable="true" type="tns:ArrayOfInvoice_Line" />
  <xs:complexType name="Product_Type">
    <xs:sequence>
      <xs:element minOccurs="0" name="ProductT_Id" type="xs:int" />
      <xs:element minOccurs="0" name="ProductT_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Products" nillable="true" type="tns:ArrayOfProduct" />
      <xs:element minOccurs="0" name="Users" nillable="true" type="tns:ArrayOfUser" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Product_Type" nillable="true" type="tns:Product_Type" />
  <xs:complexType name="ArrayOfProduct">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Product" nillable="true" type="tns:Product" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProduct" nillable="true" type="tns:ArrayOfProduct" />
  <xs:complexType name="ArrayOfUser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="User" nillable="true" type="tns:User" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUser" nillable="true" type="tns:ArrayOfUser" />
</xs:schema>